<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Trainer Appointments</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Fit Track <small>/ Profile / Trainer Appointments </small></h1>
</header>

<section layout:fragment="main">
    <h2>Appointments</h2>
    <tr th:each="a : ${appointments}">
        <td th:text="${a.customer.fullName}"></td>
        <td th:text="${a.startTime}"></td>
        <td th:text="${a.endTime}"></td>
        <td th:text="${a.status}"></td>
    </tr>

    <ul>
        <li><a th:href="@{/}">Homepage</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
    </ul>

</section>

</body>
</html>
