<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Trainer Appointments</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Fit Track <small>/ Profile / Trainer Appointments </small></h1>
</header>

<section layout:fragment="main">
    <h2>Appointments</h2>

    <table>
        <tr>
            <th>Customer</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        <tr th:each="a : ${appointments}">
            <td th:text="${a.customer.firstName + ' ' + a.customer.lastName}"></td>
            <td th:text="${a.startDateTime}"></td>
            <td th:text="${a.endDateTime}"></td>
            <td th:text="${a.status}"></td>

            <td>
                <form th:if="${a.status.name() == 'PENDING'}"
                      th:action="@{/trainer/appointments/{id}/approve(id=${a.id})}"
                      method="post">
                    <button type="submit">Approve</button>
                </form>

                <form th:if="${a.status.name() == 'PENDING'}"
                      th:action="@{/trainer/appointments/{id}/reject(id=${a.id})}"
                      method="post">
                    <button type="submit">Reject</button>
                </form>

                <br>

                <a th:href="@{/trainer/customers/{id}(id=${a.customer.id})}">View Customer Goal and Progress</a>

            </td>
        </tr>
    </table>

    <ul>
        <li><a th:href="@{/}">Homepage</a></li>
        <li><a th:href="@{/profile}">Profile</a></li>
    </ul>

</section>

</body>
</html>
