<!--<!DOCTYPE html>-->
<!--<html-->
<!--        xmlns:th="https://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{base}">-->

<!--<head>-->
<!--    <title>Trainer Availability</title>-->
<!--</head>-->

<!--<body>-->

<!--<header layout:fragment="header">-->
<!--    <h1>Fit Track <small>/ Profile / Trainer Availability </small></h1>-->
<!--</header>-->

<!--<section layout:fragment="main">-->
<!--    <h2>Manage Availability</h2>-->

<!--    <form th:action="@{/trainer/availability}"-->
<!--          th:object="${availability}"-->
<!--          method="post">-->

<!--        <div>-->
<!--            <label>Start date & time</label>-->
<!--            <input type="datetime-local"-->
<!--                   th:field="{startDateTime}" required />-->
<!--        </div>-->

<!--        <div>-->
<!--            <label>End date & time</label>-->
<!--            <input type="datetime-local"-->
<!--                   th:field="{endDateTime}" required />-->
<!--        </div>-->

<!--        <button type="submit">Add availability</button>-->
<!--    </form>-->

<!--    <hr/>-->

<!--    <ul>-->
<!--        <li><a th:href="@{/profile}">Back to profile</a></li>-->
<!--    </ul>-->
<!--</section>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{base}">

<head>
    <title>Trainer Availability</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Fit Track <small>/ Profile / Trainer Availability </small></h1>
</header>

<section layout:fragment="main">
    <h2>Manage Availability</h2>

    <form th:action="@{/trainer/availability}"
          th:object="${availability}"
          method="post">

        <div>
            <label>Start date & time</label>
            <input type="datetime-local"
                   th:field="*{startDateTime}"
                   required />
        </div>

        <div>
            <label>End date & time</label>
            <input type="datetime-local"
                   th:field="*{endDateTime}"
                   required />
        </div>

        <button type="submit">Add availability</button>
    </form>

    <hr/>

    <a th:href="@{/profile}">Back to profile</a>
</section>

</body>
</html>