<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <title>Trainer Notes</title>
</head>

<body>

<header layout:fragment="header">
    <h1>Fit Track <small>/ Profile / Training Notes </small></h1>
</header>

<section layout:fragment="main">
    <h2>Trainer Notes</h2>

    <div th:each="appt : ${appointments}">

        <h4>
            Appointment with
            <span th:text="${appt.customer.fullName}"></span>
            |
            <span th:text="${#temporals.format(appt.startDateTime, 'dd/MM HH:mm')}"></span>
        </h4>

        <!-- αν ΥΠΑΡΧΕΙ session -->
        <div th:if="${appt.trainingSession != null}">
            <p><strong>Notes:</strong></p>
            <p th:text="${appt.trainingSession.notes}"></p>
        </div>

        <!-- αν ΔΕΝ υπάρχει session -->
        <div th:if="${appt.trainingSession == null}">
            <form th:action="@{/trainer/notes/{id}(id=${appt.id})}"
                  method="post">
            <textarea name="notes"
                      rows="4"
                      cols="50"
                      required></textarea>
                <br/>
                <button type="submit">Save Notes</button>
            </form>
        </div>

        <hr/>
    </div>

</section>

</body>
</html>
